/* css for square card using the Material Design Lite library */
div {
  margin: 10px;
}

.demo-card-square.mdl-card {
  width: 680px;
  height: 700px;

}
.demo-card-square > .mdl-card__title {
  color: #fff;

  background:
     #46B6AC;
}
